[ghq]
  root = /home/nownabe/src

[user]
  name = nownabe
  email = nownabe@gmail.com

[push]
  default = simple

[alias]
  logg = log --graph --oneline --all --decorate

[commit]
  template = /home/nownabe/.git.d/commit_template

[diff]
  compactionHeuristic = true

[pager]
  # log  = diff-highlight | emojify | less -r
  # show = diff-highlight | emojify | less -r
  # diff = diff-highlight | emojify | less -r
